html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  background-color: #fbfafa;
  color: #16124b;;
  font-family: sans-serif;
}

header {
  padding: 1rem;
  /*display: flex;*/
  text-align: right;
  justify-content: space-around;
}

.logo {
  width: 4rem;
  height: 4rem;
}

.nav-link {
  position: relative;
  padding-bottom: 3px;
  transition: all 0.5s ease;
}

.nav-link::after {
  content: "";
  background-color: #eee;
  height: 0.15rem;
  width: 0;
  position: absolute;
  bottom: 0;
  opacity: 0;
  left: 50%;
  transition: all 0.5s ease;
}

.nav-link:hover::after,
.nav-link:focus::after {
  left: 0;
  width: 100%;
  opacity: 1;
}

main {
  max-width: 100%;
  min-height: 100%;
  position: relative;
  margin: 0 auto;
  padding: 2rem 2rem 10rem 2rem;
}

h1 {
  font-size: 3rem;
}

nav {
  font-size: 1.2rem;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-left: 2rem;
}

#nav-menu-toggle,
#nav-menu-thumb {
  display: none;
  position: absolute;
  top: 0.3rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
}

#nav-menu-toggle {
  margin: 0;
  opacity: 0;
}

#nav-menu-thumb {
  background: url("assets/menu.svg");
}

@media screen and (max-width: 775px) {
  header {
    flex-direction: column;
  }

  #nav-menu-toggle {
    display: inline-block;
  }

  #nav-menu-thumb {
    display: inline-block;
  }

  nav ul {
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s ease;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    display: block;
    text-align: center;
    margin: 0 0 0.5rem 0;
  }

  #nav-menu-toggle:checked + ul {
    max-height: 50rem;
  }
}

header,
footer {
  border-bottom: #0082e6 0.5rem solid;
  background-color: #0082e6;
  color: #0082e6;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4rem;
}

header a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.descriere{
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 1.4em;
  text-indent: 50px;
  text-align: justify;
}

.btn{
  background-image: linear-gradient(to top left, #00bfff, #4000ff);
  border-radius: 10px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 30px;
}

.btn:hover{
  background-image: linear-gradient(to top left, #4000ff, #00bfff);
}

input{
  padding: 12px 20px;
  margin-left: 30px;
  margin-bottom: 30px;
  display: inline-block;
  border: 1px solid #0080ff;
  border-radius: 4px;
  box-sizing: border-box;
}

label{
  margin-left: 30px;
  color: #0080ff;
  font-size: 1.5em;
}